GUI/Connected Services/MovieService/API3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1239/API?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:import schemaLocation="http://localhost:1239/API?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Models.Filters" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfMovieModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Filters" minOccurs="0" name="filter" nillable="true" type="q2:MovieFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetByFilterResult" nillable="true" type="q3:ArrayOfMovieModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>